venv/
.venv/
env/
ENV/
README_personal.md
trustpilot-reviews-123k.csv
guion_presentacion.md


# Python
__pycache__/
*.py[cod]
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db
